
.idea/inspectionProfiles/profiles_settings.xml
.idea/meditation_eeg.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cleaned_data_2.csv
cleaned_data.csv
auc_results.csv
auc_bar_chart.png
auc_subplots.png
grouped_auc_bar_chart.png
grouped_auc_line_chart.png
